/* src/assets/styles/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis CSS (opcional, mas boa prática para temas e valores globais) */
:root {
    /* Fontes */
    --font-times-new-roman: 'Times New Roman', serif;

    /* Cores CineFlix Principais */
    --color-cineflix-black: #000000;
    --color-cineflix-red: #E60000;
    --color-cineflix-dark-gray: #333333;
    --color-cineflix-white: #FFFFFF;

    /* Cores CineFlix para Feedback e Ações Específicas */
    --color-cineflix-blue-600: #2563eb;
    --color-cineflix-blue-700: #1d4ed8;

    --color-cineflix-green-400: #4ade80;
    --color-cineflix-green-600: #16a34a;
    --color-cineflix-green-700: #15803d;

    --color-cineflix-danger-600: #dc2626;
    --color-cineflix-danger-700: #b91c1c;

    --color-cineflix-gray-400: #9ca3af;
    --color-cineflix-gray-500: #6b7280;
}

/* Outros estilos globais podem ir aqui */